img{
    height:200px;
    width:200px;
}
.color-title{
    font-weight: normal;
}
#red{
    color: red;
}
#purple{
    color: purple;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#black{
    color: black;
}
#white{
    color: whitesmoke
}
#grey{
    color: grey;
}
#yellow{
    color: yellow;  
}
